@import "/src/styles/main.scss";

.card {
  position: relative;
  cursor: pointer;
  border-radius: 25px;
  background: #ff6060;
  overflow: hidden;

  &:hover {
    box-shadow: 0 2px 8px rgb(0, 0, 0);
  }

  .image {
    max-width: 100%;
    width: 100%;
    height: 25.132275132275133vw;
    object-fit: cover;
    object-position: center;
    transition: transform 0.2s ease-in-out;
    will-change: transform;
    &:hover {
      transform: scale(1.5);
    }
    @media (max-width: 640px) {
      height: 35vw;
    }
  }

  .title {
    position: absolute;
    font-weight: 500;
    background: transparent;
    border: none;
    pointer-events: none; //important: to prevent the parent's hover effect from being applied to the child!
    font-size: clamp(12px, 3vw, 18px); //default font-size 1.8rem
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8);
    color: $kasa-primary;
    bottom: 2rem;
    left: 2rem;
    transition: font-size 0.3s ease;
    @media (max-width: 990px) {
      font-size: 1.6rem;
    }

    @media (max-width: 640px) {
      font-size: 1.4rem;
    }
  }
}
