@import "/src/styles/main.scss";

.Collapse {
  margin-top: 31px;

  .collapse_description {
    background: $kasa-tertiary;
    @include flex($justify: space-between);
    padding: 0.7rem 1.8rem 0.7rem 1.8rem;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    width: 100%;
    // margin: 0 auto;
    cursor: pointer;

    .collapse_title {
      font-size: 2.4rem;
      font-weight: 500;
      color: $kasa-primary;
    }

    .collapsed_arrow {
      transition: all 0.2s ease-in-out;
      transform: rotate(180deg);
    }

    .collapse_arrow {
      transition: all 0.2s ease-in-out;
      transform: rotate(0deg);
    }
  }
  .show_content {
    transition: all 0.2s ease-in-out;
    background: $kasa-secondary;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: $kasa-tertiary;
    width: 100%;
    padding: 2rem;
    margin: 0 auto 3rem auto;
  }

  .hide_content {
    display: none;
  }
}
